<div class=" mb-4 project" id="blogbox">
    <div>
        <img src="assets/homepage_query.png" alt="Query Results">
    </div>
    <section class="section ">
        <div class="container card formbgc p-6">
            <div class="columns is-multiline ">

                <div class="column is-one-third">
                    <!-- City dropdown -->
                    <div class="field">
                        <label class="label city-label">City</label>
                        <div class="control">
                            <div class="select">
                                <select name="city" id="city-dropdown">
                                    <!-- Populate options dynamically using homeRoutes -->
                                    <option value="">Select a city</option> 
                                    {{#each cities as |city|}}
                                        <option>{{city}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third">
                    <!-- Type dropdown -->
                    <div class="field">
                        <label class="label">Type</label>
                        <div class="control">
                            <div class="select">
                                <select name="type" id="type-dropdown">
                                    <!-- Populate options dynamically using homeRoutes -->
                                    <option value="">Select a type</option>
                                    {{#each types as |type|}}
                                        <option>{{type}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third">
                    <!-- Breed dropdown -->
                    <div class="field">
                        <label class="label">Breed</label>
                        <div class="control">
                            <div class="select" id="#breed-dropdown">
                                <select name="breed">
                                    <!-- Populate options dynamically using homeRoutes -->
                                    <option value="">Select a type</option>
                                    {{#each breeds as |breed|}}
                                        <option>{{breed}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third">
                    <!-- Gender dropdown -->
                    <div class="field">
                        <label class="label">Gender</label>
                        <div class="control">
                            <div class="select">
                                <select name="gender" id="#gender-dropdown">
                                    <!-- Populate options dynamically using homeRoutes -->
                                    <option value="">Select a gender</option>
                                    {{#each genders as |gender|}}
                                        <option>{{gender}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third">
                    <!-- Age range dropdown -->
                    <div class="field">
                        <label class="label">Age Range</label>
                        <div class="control">
                            <div class="select">
                                <select name="ageRange" id="#age-range-dropdown">
                                    <!-- Populate options dynamically using homeRoutes -->
                                    <option value="">Select an age range</option>
                                    {{#each ageRanges as |ageRAnge|}}
                                        <option>{{ageRAnge}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-third">
                    <!-- Agency dropdown -->
                    <div class="field">
                        <label class="label">Agency</label>
                        <div class="control">
                            <div class="select">
                                <select name="agency" id="#agency-dropdown">
                                    <!-- Populate options dynamically using homeRoutes -->
                                    <option value="">Select an agency</option>
                                    {{#each agencies as |agency|}}
                                        <option>{{agency}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Submit button we need to add an event listener and run a query search -->
            <div class="field is-grouped is-justify-content-flex-end">
                <div class="control">
                    <button class="button custom-box-sl" id="search-button">
                        <img src="assets/search_icon.png" alt="Search Icon" class="search-icon">
                        <span class="search-text">Search</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="./js/homepage.js"></script>